.contact{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.contact ul li{
    margin: 0 1rem;
    font-size: 1.5rem;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 500;
}
.contact ul li a{
    text-decoration: none;
}
.contact ul li a:hover{
    transition: 1s;
    text-decoration: underline solid 2px;
    text-decoration-color: var(--variation);
    text-underline-offset: 0.2rem;
}

@media screen and (max-width:650px) {
    .contact ul{
        flex-wrap: wrap;
    }
    .contact ul li{
        margin: 0 0.3rem;
        font-size: 1.1rem;
    }   
    
}